<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./../css/pages/homepage.css">

        <title>HomePage</title>

  </head>
  <body>

    <div class="container-fluid main">
        <div class="navigation__bar w-100 ">
            <div class="navbar-header">
              <h1 class="text-white website__name" style="width: 400px;">FaceBook</h1>
              <input type="search" name="" placeholder="Search Peoples" class=" search__box">


            </div>

            <div class="navigation__bar__right">

                <div class="option">

                  <ul class="options">
                    <li class="nav__messages">Messages</li>
                    <li class="nav__notification">Notification</li>
                    <li class="nav__newsfeed">News Feed</li>
                  </ul>

                </div>

                <div class="user__image">
                    <img src="./../icons/u3.png" alt="">
                </div>

                <div class="add__post__button">
                    <button type="submit" class="add__post">Post</button>
                </div>



            </div>


        </div>

        <div class="website__content">

            <div class="news__and__posts">

              <div class="heading">
                  <h1>Recent Posts</h1>
              </div>

              <div class="material">

                <div class="post">

                  <div class="post__detail">
                      <div class="post__user__image">
                        <img src="./../icons/u3.png" alt="" class="user__img__in__post">
                      </div>

                      <div class="post__heading">
                          <h1>World First 3d Game</h1>
                          <p>Grand Theft auto: Vice City</p>

                          <span class="time__ago">
                            35 min ago
                          </span>
                      </div>
                  </div>

                  <div class="post__image">
                      <img src="./../images/2.jpg" alt="" class="img__in__post">
                  </div>

                  <div class="add__comment__in__post__section">
                        <img src="./../icons/u2.png" alt="" class="user__image__for__comment">
                        <input type="text" name="" placeholder="Comment as AT Programmer">
                  </div>

                  <div class="options__for__comment">
                      <div class="icons">
                          <img src="./../icons/messages.png" alt="" class="add__message">
                      </div>
                  </div>

                  <div class="see__all__comments">
                      <p class="see_comment">See All Comments (0)</p>
                  </div>

                </div>



              </div>


            </div>

            <div class="friends__and__find__friends">

                <div class="friends__heading">
                    <h1> Friends</h1>
                </div>

                <div class="search__friend">
                      <input type="search" name="" placeholder="Search Friend">
                </div>

                <div class="friends__list">

                    <div class="friend"><div class="friend__image"><img src="./../icons/u1.png" alt=""></div><div class="friend__name"><span><!--Friend Name--> AT Programmer</span></div><div class="last__seen"><p>5 min ago</p></div><div class="Skill"><span>Programmer</span></div></div>

                    <div class="friend"><div class="friend__image"><img src="./../icons/u3.png" alt=""></div><div class="friend__name"><span><!--Friend Name--> Robin Kumar</span></div><div class="last__seen"><p>1 hour ago</p></div><div class="Skill"><span>Engineer</span></div></div>

                      <div class="friend"><div class="friend__image"><img src="./../icons/u5.png" alt=""></div><div class="friend__name"><span><!--Friend Name--> Ritu Kumari</span></div><div class="last__seen"><p>Online</p></div><div class="Skill"><span>B Tech</span></div></div>

                        <div class="friend"><div class="friend__image"><img src="./../icons/u7.png" alt=""></div><div class="friend__name"><span><!--Friend Name-->Tapendra Kumar</span></div><div class="last__seen"><p>1 week ago</p></div><div class="Skill"><span>Software Developer</span></div></div>


                </div>

                <div class="heading__people__you__may__know">
                    <p>Peoples You May Know</p>
                </div>

                <div class="peoples__list">


                  <div class="friend"><div class="friend__image"><img src="./../icons/u1.png" alt=""></div><div class="friend__name"><span><!--Friend Name--> AT Programmer</span></div><div class="last__seen"><p>5 min ago</p></div><div class="Skill"><span>Programmer</span></div></div>

                  <div class="friend"><div class="friend__image"><img src="./../icons/u3.png" alt=""></div><div class="friend__name"><span><!--Friend Name--> Robin Kumar</span></div><div class="last__seen"><p>1 hour ago</p></div><div class="Skill"><span>Engineer</span></div></div>

                    <div class="friend"><div class="friend__image"><img src="./../icons/u5.png" alt=""></div><div class="friend__name"><span><!--Friend Name--> Ritu Kumari</span></div><div class="last__seen"><p>Online</p></div><div class="Skill"><span>B Tech</span></div></div>

                      <div class="friend"><div class="friend__image"><img src="./../icons/u7.png" alt=""></div><div class="friend__name"><span><!--Friend Name-->Tapendra Kumar</span></div><div class="last__seen"><p>1 week ago</p></div><div class="Skill"><span>Software Developer</span></div></div>


                </div>


            </div>


        </div>
    </div>
  </body>
</html>
